.Header
  font-family 'Poiret One'
  margin-top -0.25%
  background-image url("../../img/descarga.jpg")
  background-repeat no-repeat
  background-position center
  background-size cover
  text-align center
  text-decoration none
  


.items
  display inline-block
  margin-right 1em
  background-color transparent
  text-decoration none
  height 100%
  border-right 0.5px white solid
  

  


.items:before
  content ''
  position absolute
  top 0px
  left 0px
  width 100%
  height 0px
  background rgba(255,255,255,0.3)
  border-radius 5px
  transition all 2s ease

  

   
.Barra 
  margin-top 2em
  text-decoration none
  
  
.link
  margin-right 1em
  color white
  text-align center
  font-size 18px
  font-family 'Poiret One'
  text-decoration none
  border-radius 1em
  
.link:hover
  color black
  
.Nav 
  text-align center
  display inline-block
  width 100%
  background lightblue
  text-decoration none
  height 100%
  
  

