.slide {
  width: 70%;
  height: 400px;
  margin: 2% auto;
  border-radius: 0.5em;
  position: relative;
}
.slide img {
  width: 100%;
  height: 400px;
  position: absolute;
  margin-left: -40px;
}
.slide img-img2 {
  display: none;
}
.slide img-slide {
  display: none;
}
.slide img-img3 {
  display: none;
}
.slide img-img4 {
  display: none;
}
.Contenido {
  width: 100%;
}
.Enlace {
  text-decoretion: none;
  color: #000;
}
.Boton1 {
  background: #add8e6;
  box-shadwon: 2px 2px 5px #000;
  margin-top: 1em;
  margin-left: -13em;
  border-radius: 5px;
  padding: 0.5em;
}
.Boton1:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 1px #3a7999;
}
