.Footer
  background-image url("../../img/ba.jpg")
  background-repeat no-repeat
  height 100%
  
  
  

  &-down
    font-family 'Poiret One'
    border-right .1em white solid
    display inline-block
    font-size 1em
    text-align center
    max-width 229px
    width 300px
    top 0px
    margin-left 17%
    


  &-down1
    font-family 'Poiret One'
    border-right .1em white solid
    display inline-block
    font-size 1em
    text-align center
    max-width 304px
    width 291px
    top 0px
    margin-right: 5em
    margin-left: 1%




  &-titulo
  	color lavender
   
.Footer-icono 
  border-radius 15em
  
.Footer-icono:hover 
  background-color:white;
  background-color: rgba(200,200,200,.3);
  -webkit-border-radius: 10em;
  border-radius: 10em;          
  cursor: pointer;
  height 80px
  width 80px


  
.Contenido2
  margin-top: 9em;
  
  
  
.Footer-down3
  display inline-block
  float: right
  margin-right: 8em
  
